*,
*::after,
*::before {
  box-sizing: border-box;
}

::placeholder {
  color: #666
}

::selection {
  background-color: $accent;
}

input,
textarea {
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
  font-weight: $fontweight;
	min-width: $mobileW;
	position: relative;
	overflow-x: hidden;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
}

.container {
  max-width: calc($desktopW + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}