//Screen's width
$mobileW: 390px;
$tableW: 768px;
$desktopW: 1200px;
$viewportD: 1240px;

$trans: 0.7s ease;

//color

$semidark: #213B72;

// Base variable
$accent: #5876B6;
$textcolor: #2E2A24;
$lineheight: 1.4;
$fontsize: 16px;
$userfont: 'Gilroy', sans-serif;
$fontweight: 400;